/* ★★★ここからHTML5 Doctor Reset CSS */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*ここまで***********************************/
.wrapper{
  font-family:arial;
}

a{
  text-decoration:none;
}

header{
  color:black;
  font-family:arial black;
  border:6px solid maroon;
  border-color:#000000;
  margin:10px;
  /* background:tomato; */
}

.header-logo{
  font-size:60px;
  text-align:center;
  padding:12px;
  text-shadow:1px 2px 3px #808080;
}

.header-logo a{
  color:black;
}

.header-list{
  text-align:center;
  margin:10px 5px;
}

.header-list ul li{
  display:inline;
  margin:10px;
}

.header-list ul li a{
  color:black;
}

span{
  color:#b00000;
}
.header-list ul li a:hover{
  background-color:black;
  color:white;
}
.header-list ul li a:hover span{
  color:red;
}

.main{
  /* background:pink; */
  text-align:center;
}

.main h1{
  font-size:30px;
  margin:10px;
  color:black;
  /* background-color:blue; */
}

p{
  padding:10px;
  line-height: 25px;
  /* background-color:red; */
}

ul{
  list-style:none;
}

footer{
  color:white;
  background:black;
}

footer ul{
  padding:12px 40px;
}

footer ul li{
  margin:5px;
}

footer ul li a{
  color:white;
}

footer ul li a:hover{
  color:red;
}
